<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rtt -->
      <package
            uri="be.kueleuven.rodinia.model.rtt"
            class="be.kueleuven.rodinia.model.rtt.RttPackage"
            genModel="model/rtt.xcore"/>
   </extension>

</plugin>
