<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="be.kuleuven.rodinia.graphiti.rtt.diagramType.rttStructure"
            name="Rtt Structural Diagram"
            type="rttStructure">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="be.kuleuven.rodinia.graphiti.rtt.providers.RttDiagramTypeProvider"
            context="org.eclipse.graphiti.ui.diagramEditor"
            description="RTT Grahphical Editor"
            id="be.kuleuven.rodinia.graphiti.rtt.providers.RttDiagramTypeProvider"
            name="be.kuleuven.rodinia.graphiti.rtt.diagramTypeProvider1">
         <diagramType
               id="be.kuleuven.rodinia.graphiti.rtt.diagramType.rttStructure">
         </diagramType>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="be.kuleuven.rodinia.graphiti.rtt.category"
            name="RTT">
      </category>
      <wizard
            category="be.kuleuven.rodinia.graphiti.rtt.category"
            class="be.kuleuven.rodinia.graphiti.rtt.wizards.NewRttStructuralDiagramWizard"
            icon="icons/newfile_wiz.png"
            id="be.kuleuven.rodinia.graphiti.rtt.wizard1"
            name="New RTT Structural Graph">
      </wizard>
   </extension>
   
    <extension
    point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor contributorId="rttStructure.PropertyContributor">
        <propertyCategory category="Graphiti">
        </propertyCategory>
    </propertyContributor>
</extension>

<extension
      point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
   <propertyTabs
          contributorId="rttStructure.PropertyContributor">
    <propertyTab
         category="Graphiti"
         id="graphiti.Activity.tab"
         label="Activity">
    </propertyTab>
    <propertyTab
         category="Graphiti"
         id="graphiti.InputPort.tab"
         label="InputPort">
    </propertyTab>
     <propertyTab
         category="Graphiti"
         id="graphiti.EventPort.tab"
         label="EventPort">
    </propertyTab>
    <propertyTab
         category="Graphiti"
         id="graphiti.OutputPort.tab"
         label="OutputPort">
    </propertyTab>
    <propertyTab
         category="Graphiti"
         id="graphiti.ConnectionPolicy.tab"
         label="ConPol">
    </propertyTab>
    <propertyTab
         category="Graphiti"
         id="graphiti.TaskContext.tab"
         label="TaskContext">
    </propertyTab>
    <propertyTab
         category="Graphiti"
         id="graphiti.Property.tab"
         label="Property">
    </propertyTab>
   <propertyTab
         category="Graphiti"
         id="graphiti.main.tab"
         label="Main">
    </propertyTab>
   </propertyTabs>
</extension>

<extension
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
          contributorId="rttStructure.PropertyContributor">
        <propertySection
              class="be.kuleuven.rodinia.graphiti.rtt.propertiesTab.RttStructureSection"
              filter="be.kuleuven.rodinia.graphiti.rtt.propertiesTab.RttStructureFilter"
              id="graphiti.main.tab.emfclass"
              tab="graphiti.main.tab">
        </propertySection>
    </propertySections>
</extension>

<extension
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
          contributorId="rttStructure.PropertyContributor">
        <propertySection
              class="be.kuleuven.rodinia.graphiti.rtt.propertiesTab.TaskContextSection"
              filter="be.kuleuven.rodinia.graphiti.rtt.propertiesTab.TaskContextFilter"
              id="graphiti.TaskContext.tab.emfclass"
              tab="graphiti.TaskContext.tab">
        </propertySection>
    </propertySections>
</extension>

<extension
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
          contributorId="rttStructure.PropertyContributor">
        <propertySection
              class="be.kuleuven.rodinia.graphiti.rtt.propertiesTab.ActivitySection"
              filter="be.kuleuven.rodinia.graphiti.rtt.propertiesTab.ActivityFilter"
              id="graphiti.Activity.tab.emfclass"
              tab="graphiti.Activity.tab">
        </propertySection>
    </propertySections>
</extension>

<extension
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
          contributorId="rttStructure.PropertyContributor">
        <propertySection
              class="be.kuleuven.rodinia.graphiti.rtt.propertiesTab.InputPortSection"
              filter="be.kuleuven.rodinia.graphiti.rtt.propertiesTab.InputPortFilter"
              id="graphiti.InputPort.tab.emfclass"
              tab="graphiti.InputPort.tab">
        </propertySection>
    </propertySections>
</extension>

<extension
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
          contributorId="rttStructure.PropertyContributor">
        <propertySection
              class="be.kuleuven.rodinia.graphiti.rtt.propertiesTab.EventPortSection"
              filter="be.kuleuven.rodinia.graphiti.rtt.propertiesTab.EventPortFilter"
              id="graphiti.EventPort.tab.emfclass"
              tab="graphiti.EventPort.tab">
        </propertySection>
    </propertySections>
</extension>

<extension
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
          contributorId="rttStructure.PropertyContributor">
        <propertySection
              class="be.kuleuven.rodinia.graphiti.rtt.propertiesTab.OutputPortSection"
              filter="be.kuleuven.rodinia.graphiti.rtt.propertiesTab.OutputPortFilter"
              id="graphiti.OutputPort.tab.emfclass"
              tab="graphiti.OutputPort.tab">
        </propertySection>
    </propertySections>
</extension>

<extension
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
          contributorId="rttStructure.PropertyContributor">
        <propertySection
              class="be.kuleuven.rodinia.graphiti.rtt.propertiesTab.ConnectionPolicySection"
              filter="be.kuleuven.rodinia.graphiti.rtt.propertiesTab.ConnectionPolicyFilter"
              id="graphiti.ConnectionPolicy.tab.emfclass"
              tab="graphiti.ConnectionPolicy.tab">
        </propertySection>
    </propertySections>
</extension>

<extension
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
          contributorId="rttStructure.PropertyContributor">
        <propertySection
              class="be.kuleuven.rodinia.graphiti.rtt.propertiesTab.PropertySection"
              filter="be.kuleuven.rodinia.graphiti.rtt.propertiesTab.PropertyFilter"
              id="graphiti.Property.tab.emfclass"
              tab="graphiti.Property.tab">
        </propertySection>
    </propertySections>
</extension>

</plugin>