<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="be.kuleuven.rodinia.graphiti.rtt.diagramType.rttStructure"
            name="Rtt Structural Diagram"
            type="rttStructure">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="be.kuleuven.rodinia.graphiti.rtt.providers.RttDiagramTypeProvider"
            context="org.eclipse.graphiti.ui.diagramEditor"
            description="RTT Grahphical Editor"
            id="be.kuleuven.rodinia.graphiti.rtt.providers.RttDiagramTypeProvider"
            name="be.kuleuven.rodinia.graphiti.rtt.diagramTypeProvider1">
         <diagramType
               id="be.kuleuven.rodinia.graphiti.rtt.diagramType.rttStructure">
         </diagramType>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="be.kuleuven.rodinia.graphiti.rtt.category"
            name="RTT">
      </category>
      <wizard
            category="be.kuleuven.rodinia.graphiti.rtt.category"
            class="be.kuleuven.rodinia.graphiti.rtt.wizards.NewRttStructuralDiagramWizard"
            icon="icons/newfile_wiz.png"
            id="be.kuleuven.rodinia.graphiti.rtt.wizard1"
            name="New RTT Structural Graph">
      </wizard>
   </extension>

</plugin>
