/ChoiceImpl.java
/ChoicesImpl.java
/CpfFactoryImpl.java
/CpfPackageImpl.java
/DefaultvalueImpl.java
/DescriptionImpl.java
/DocumentRootImpl.java
/PropertiesImpl.java
/SequenceImpl.java
/SimpleImpl.java
/StructImpl.java
/ValueImpl.java
