/Choice.java
/Choices.java
/CpfFactory.java
/CpfPackage.java
/Defaultvalue.java
/Description.java
/DocumentRoot.java
/Properties.java
/Sequence.java
/Simple.java
/SimpleType.java
/Struct.java
/Value.java
